aioredis==1.3.1
alabaster==0.7.12
arrow==0.16.0
asgiref==3.2.7
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.7.1
Automat==20.2.0
Babel==2.9.0
bash==0.6
beautifulsoup4==4.9.1
certifi==2020.12.5
cffi==1.14.5
channels==2.4.0
channels-redis==3.0.1
chardet==4.0.0
constantly==15.1.0
cryptography==3.0
daphne==2.5.0
Django==3.0.7
django-agora==0.4
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap4==2.2.0
django-crispy-forms==1.9.2
django-guardian==2.3.0
django-model-utils==4.0.0
django-notifications-hq==1.6.0
docutils==0.16
hiredis==1.1.0
hyperlink==20.0.1
idna==2.10
imagesize==1.2.0
incremental==17.5.0
install==1.3.4
Jinja2==2.11.3
jsonfield==3.1.0
MarkupSafe==1.1.1
msgpack==1.0.0
packaging==20.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.8.0
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.25.1
service-identity==18.1.0
six==1.15.0
snowballstemmer==2.1.0
soupsieve==2.0.1
Sphinx==3.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.3.1
swapper==1.1.2.post1
Twisted==20.3.0
txaio==20.4.1
urllib3==1.26.3
zope.interface==5.1.0
