body {
    padding-top: 1.05%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #ffffff !important;
    overflow-x: hidden;
}

.container{
    max-width: 100%;
}

#plus-icon:hover{
    cursor: pointer;
}
.close{
    margin-top: -1%;
}

#plus-icon{
    margin-left: 10px;
    padding-bottom: 10px;
}

#tabs, #bookmarks, #notes, #shared_folders{
    margin-top: 2%;
    background-color: #ffffff !important;
    /* box-shadow: 1px 5px 15px 1px #e5e8f3; */
    box-shadow: 1px 2px 10px  #bad0da;
    border-radius: 7px;
    transition: all 1s ease;
    padding: inherit !important;
    /* border-bottom: 10px solid #f7fdff; */
}


#title, #plus-icon{
    display: inline;
}

#plus-icon:hover{
    cursor: pointer;
}


#head{
    text-align: center;
    margin-bottom: 1%;
}

#tabs, #bookmarks, .header, #notes, #shared_folders{
    width: 43%;
}

#tabs, #notes{
    overflow: auto; 
}


.card-header{
    background-color: #ffffff !important;
    /* position: sticky; */
    z-index: 1;
    width: 100%;
    margin-bottom: 10px;
    height: 100%;
    margin-top: -1%;
}

h2{
    color: #001872;
}


#account, #tab, #note,  #history, #bookmark, #sf {
    border-radius: 7px; 
    text-align:center;
    box-shadow: 1px 2px 5px  hsl(199, 19%, 70%);
    -webkit-transition: box-shadow .5s ease-in-out ;
	-moz-transition: box-shadow  .5s ease-in-out;
    transition: box-shadow .5s ease-in-out;
}

#account:hover, #tab:hover, #note:hover, #history:hover, #bookmark:hover, #sf:hover{
    text-align:center;
    box-shadow: 1px 3px 5px 1px  #0088c29f;
    cursor: pointer;
    position: relative; 
    top: -2px;
}

.close:hover{
    zoom: 1.2;
}
#active_acc{
    color: #0087C2;
}

.card{
    /* box-shadow: 1px 1px 10px 1px #ccd3eb; */
    border: 1px solid #e5f7fc ;
    /* padding: 1%; */

    word-wrap: break-word;
    text-overflow: ellipsis;
}
      
.fa-window-close:hover{
    cursor: pointer;
    color: grey;
}
