body{
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 8%;
    color:white;
    font-family: 'Ubuntu', sans-serif !important;
}
.form{
    font-size: larger;
    color: white;
    box-shadow: 1px 1px 15px 1px #00559F;
    width: 100%;
    background-color: white;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 5px;
    margin: 0 auto;
    background-image: linear-gradient( #00C4EE,#0087C2, #00559F, #001872);
    
}

.form:hover{
    
    /* box-shadow: 20px 20px 700px 10px rgb(202, 227, 255);
    filter: blur(0px);
    -webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-o-transition: all 2s ease;
    -ms-transform: all 2s ease;
    transition: all 2s ease-out; */
}

h1{
    text-align: center;
    color: #001872;
}
input{
    width: 100%;
    border-radius: 7px;
    border: none;
}

.btn-primary{
    width: 100%;
    color: #001872;
    background-color: white;
    border: none;
    margin-top: 3%;
}

.btn-primary:hover{
    width: 100%;
    color: white;
    background-color: #00C4EE;
    border: none;
}

a{
    color: white;
    font-weight: bold;
}
a:hover{
    color:  #00C4EE;
    font-weight: bold;
}
