<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flexr | Open Tabs</title>
    {% load static %}
    <style>
        #plus-icon:hover{
            cursor: pointer;
        }
        .folder:hover{
            cursor: pointer;
        }
    </style>
</head>
<body>
    {% include "flexr_web/navbar.html" %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <div class="row body">
        <div class = "main">
            <div class="suggested sidenav">
                <a class="navbar-brand" href="/"><img src="{% static 'flexr_logo_2.png' %}" width="100%"></a>
                <h3>Filter Bookmarks</h3>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <p style="display: inline;" >
                        {{ field.label_tag }}
                        {{ field }} 
                    </p><br>

                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>
            </div>
            <div class="row">
                <div class = "col-md-5">
                    <h3>Bookmark Folders</h3>
                    <p style="display: inline;">Create a Bookmark Folder</p> <img style="display:inline;" width="20px" id="plus-icon" data-toggle="modal" data-target="#add_bookmark_folder" src="{% static 'icons/plus.png' %}">

                    <div class="modal fade" id="add_bookmark_folder" tabindex="-1" role="dialog" aria-labelledby="add_bookmark_folder_Label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="add_bookmark_folder_Label">Add a Bookmark folder</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <form method = "POST" action="{% url 'create_bookmark_folder' %}">
                                            {% csrf_token %}
                                            {% for field in formb %}
                                            <p>
                                                {{ field.label_tag }}<br>
                                                {{ field }}
                                                {% if field.help_text %}
                                                    <small style="color: grey">{{ field.help_text }}</small>
                                                {% endif %}
                                                {% for error in field.errors %}
                                                    <p style="color: red">{{ error }}</p>
                                                {% endfor %}
                                            </p>
                                            {% endfor %}
                                            <div class="modal-footer">
                                        
                                        <button type="submit" class="btn btn-primary">Create Folder</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {%for folder in Folders%}
                    <div class = "folder card col-md-5" style="height: auto;" onclick="window.location.href = '/bookmark_folder/{{folder.id}}'">
                        <h2>{{folder.title}}</h2>
                        <p>Created Date: {{folder.created_date}}</p>
                        <!-- <p><a href="{% url 'delete-bookmark-folder' folder.pk%}">Delete Folder</a></p> -->
                        <a href="{% url 'delete-bookmark-folder' folder.pk%}"><p>Delete Folder</p> </a>
                        <br>
                    </div>
                {%endfor%}
                <div class="col-md-5 row" >
                    <!-- <hr> -->
                    <h3>All Bookmarks</h3>
                    {%for bm in Bookmarks%}
                        <div id = "bookmark" class = "card col-lg-5"  >
                            <p onclick="window.open('{{bm.site.url}}')"  style="display: inline;">{{bm.site}}</p>
                            <span style="display: inline;">
                                <img class="bm" onclick="window.location.href = '/delete_bookmark/{{bm.site.bookmarked}}'" src="{% static 'icons/bookmarked.png' %}" width= 15px>
                            </span>
                        </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
