<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flexr | Browsing History</title>
</head>
<body>
    {% include "flexr_web/navbar.html" %}
    <h1>{{user.first_name}}&nbsp{{user.last_name}}</h1>
    <h1>{{user.email}}</h1>
    <h2>{{Accounts.0}}</h2>

    <hr>
    
    <hr>
    <h3>Browsing History:</h3>
    {%for entry in History%}
        <p>Title: <a href="{{entry.site.url}}"> {{entry.site.url}}</a></p>
        <p>Visit Date: {{entry.visit_datetime}}</p>
        <br>
    {%endfor%}
    <hr>

</body>
</html>