<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://kit.fontawesome.com/997a621b7c.js" crossorigin="anonymous"></script>
     <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
    </script>

    <script src=
"https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
    </script>

    <link href=
"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">    
</head>
<body>
  <div class="container-fluid" id="navDiv">

  <nav class="navbar  navbar-expand-lg  bg-transparent">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"> <i title="" class="fa fa-bars"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/browsing_history">History</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/notes">Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/open_tabs">Tabs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bookmarks">Bookmarks</a>
        </li>
          <li class="nav-item ">
          <a class="nav-link" href="/shared_folders">Shared Folders</a>
        </li>
      </ul>
    </div>
  </nav>
  </div>
    {% if messages %}
      {% for message in messages%}

          {% if message.tags == "success"%}
          <style>
            
          </style>
              <script>toastr.success('{{message}}')
               toastr.options= {"postitionClass": "toast-top-center"}</script>
          {% elif message.tags == "error"%}
              <script>toastr.error('{{message}}')</script>
          {%endif%}
      {%endfor%}
    {%endif %}
    
    <div class="col">
      <div class = " sidenav2">
        <!-- <a class="navbar-brand" href="/"><img src="{% static 'flexr_light.png' %}" width="100%"></a> -->
        <div onclick="window.location.href = '/profile'" style="cursor: pointer;">
          {%if curr_acc.notifs.all|length > 0%}
              <img src="{% static 'flexr_logo_notif.png' %}" width="15%" style="display: inline;  padding-bottom: 5%;">
              <h1 style="font-size: xx-large; display: inline;" >{{user.first_name}} {{user.last_name}}</h1>
          {%else%}
              <img src="{% static 'flexr_logo.png' %}" width="15%" style="display: inline;  padding-bottom: 5%;">
              <h1 style="font-size: xx-large; display: inline;">{{user.first_name}} {{user.last_name}}</h1>
          {%endif%}
        </div>
        <br>
        <div id = "acc" class = "col-lg-10" >
            <h2 id = "sites-head" onclick="window.location.href = '/profile'" >Profile</h2>
        </div>
        <hr>
        <!-- <div style="border: 10px solid white; margin-top: -1.5%; margin-bottom: 5%;"></div> -->
        <br>
        <h2 id = "sites-head">Accounts</h2><img class="plus-icon icon" id="plus-icon" width="20px" data-toggle="modal" data-target="#add_account" src = "{% static 'icons/plus_white.png' %}" >
       
          {%for acc in Accounts%}          
              <div id = "acc" class = "col-lg-10" >
                  {%if acc.account_id == curr_acc.account_id%}
                      <h3 class = "active_acc" onclick="window.location.href = '/profile'">{{acc}} {{acc.type_of_account}}</h3>
                  {%else%}
                      <p onclick="window.location.href = '/switch_account/{{acc.account_id}}'">{{acc}} {{acc.type_of_account}}</p>
                  {%endif%}
              </div>
          {%endfor%}
              {% if user.is_superuser %}
              <hr>
                    <div id = "acc" class = "col-lg-10" >
                      <h2 id = "sites-head" onclick="window.location.href = '/admin'" >Admin</h2>
                    </div>
                      <hr>
              {% endif %}
              {%if curr_acc.notifs.all|length > 0%}
              <hr>
              <h2 id = "sites-head">Friend Requests</h2>
                {% for notif in curr_acc.notifs.all%}
                    {% if notif.status == "Pending" %}
                      <div id = "acc" class = "col-lg-10" >
                        <p style="display: inline;">{{notif.sent.user.first_name}} {{notif.sent.user.last_name}} {{notif.sent}}</p><br>
                      </div>
                        <button type="button" style="width: 35%; display: inline;" class="btn btn-danger2" onclick="window.location.href = '/deny_friend/{{notif.id}}'">Deny</button>
                        <button type="button" style="width: 35%; display: inline;" class="btn btn-success2" onclick="window.location.href = '/accept_friend/{{notif.id}}'">Accept</button>
                        <br>
                    {%elif notif.status == "Accepted"%}
                        <br>
                        <div id = "acc" class = "col-lg-10" >
                        <p style="display: inline;">{{notif.received}} accepted your friend request</p><br>
                      </div>
                        <button type="button" style="width: 35%; display: inline;" class="btn btn-primary" onclick="window.location.href = '/remove_notif/{{notif.id}}'">Okay</button>
                        <br>
                    {% endif %}
                {% endfor %}
                <br>
                <hr>
                <br>
              {%endif%}
          <!-- <div style="border: 10px solid white; margin-top: -1.5%; margin-bottom: 5%;"></div> -->
         
          <h3 id = "acc" class = "col-lg-10" onclick = "window.location.href ='/accounts/logout'">Log out</h3>
          <br>
          <br>
      </div>
    <div class = "suggested sidenav">
     
      <a class="navbar-brand" href="/"><img src="{% static 'flexr_light.png' %}" width="70%" style="padding-bottom: 8%;"></a>
      <h2 id = "sites-head">Suggested Sites</h2>
      <div id = "sites_nav">
        {%for site in Suggested_Sites%}
                <div id = "acc" class = "col-lg-10" onclick="window.open('{{site.url}}'); ">
                        <p>{{site.name}}</p>
                </div>
        {%endfor%}
     </div>
    </div>
  </div>
    
  
  <div class="modal fade" id="add_account" tabindex="-1" role="dialog" aria-labelledby="add_accountLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="add_accountLabel">Add an account!</h5>
            <img type="button" class = "icon close" data-dismiss="modal" src = "{% static 'icons/cancel.png' %}" width=20px>
            </button>
        </div>
        <div class="modal-body">
            <form method = "post" action="{% url 'add account' %}">
                {% csrf_token %}
                {% for field in acc_form %}
                    <p>
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                {% endfor %}
                <div class="modal-footer">
                    
                    <button type="submit" class="btn btn-primary">Create account</button>
                </div>
            </form>
        </div>
        </div>
    </div>
    </div>

    <div class="modal fade" id="add_tab" tabindex="-1" role="dialog" aria-labelledby="add_tabLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="add_tabLabel">Add a tab!</h5>
              <img type="button" data-dismiss="modal" class = "icon close" src = "{% static 'icons/cancel.png' %}" width=20px>
              </button>
          </div>
          <div class="modal-body">
              <form method = "post" action="{% url 'add tab' %}">
                  {% csrf_token %}
                  <label for = "url">URL</label>
                  <input type="url" id = "url" name = "url">
                  <div class="modal-footer">      
                    <button type="submit" class="btn btn-primary">Add tab</button>
                  </div>
              </form>
          </div>
          </div>
      </div>
  </div>

  <div class="modal fade" id="add_note" tabindex="-1" role="dialog" aria-labelledby="add_noteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="add_noteLabel">Add a note!</h5>
            <img type="button" data-dismiss="modal" class = "icon close" src = "{% static 'icons/cancel.png' %}" width=20px>
            </button>
        </div>
        <div class="modal-body">
                <form method = "POST" action="{% url 'create_note' %}">
                    {% csrf_token %}
                        {% for field in note_form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                        {% endfor %}
                        <div class="modal-footer">
                    
                    <button type="submit" class="btn btn-primary">Create note</button>
                </div>
                </form>
        </div>
        </div>
    </div>
    </div>
</body>
</html>
