<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flexr | Note</title>
    {% load static %}
    <style>
        #plus-icon:hover{
            cursor: pointer;
        }

    </style>
</head>
<body>
    <!-- TODO: verify Note.(something) will be work the way Preferences.(something) works in profile.html  --> 
    {% include "flexr_web/navbar.html" %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

<div class = "body">
    <div class = "main">
        {%if locked%}
            <h1>{{object.title}}</h1>
            <h2>This note is locked</h2>
            <form method = "POST" action="{% url 'unlock note' object.pk%}">
                    {% csrf_token %}
                    <label for = "password">Password</label>
                    <input type="password" id = "password" name = "password">
                <button type="submit" class="btn btn-primary">Unlock</button>
            </form>
        {%else%}
        <form method="POST" action="/edit_note/{{object.id}}/">
            <div class="note_form">
                <h2>{{object.created_date}}</h2>
                {% csrf_token %}
                    <input type="text" name="title" value="{{object.title}}" maxlength="100" required="" id="id_title">
                    <br>
                    <textarea name="content" cols="40" rows="10" required="" id="id_content">{{object.content}}</textarea>
                    <br>
                    <label for="id_lock">Lock:</label>
                    {%if object.lock %}
                        <input type="checkbox" name="lock" id="id_lock" checked>
                    {%else%}
                        <input type="checkbox" name="lock" id="id_lock">
                    {%endif%}
                    <br>
                    <label for="id_password">Password:</label>
                    <input type="password" name="password" id="id_password" value="{{object.password}}" autocomplete="off">    
                    <br>
                    <label>Retype password: </label><input type="password" id = "id_password2" name="password2" autocomplete="off"> 
                    <br>
                    <br>
                    <button type="button" style = "display: inline;" class="btn btn-danger" onclick="window.location.href='/delete-note/{{object.id}}/'" id = "note_btn">Delete</button>
                    <button type="submit"  style = "display: inline;"  class="btn btn-primary" id = "note_btn">Confirm edit</button>
            </div>
    </form>
        
            <!-- Edit Note <img id="plus-icon" width = 20px data-toggle="modal" data-target="#edit_note" src="{% static 'icons/edit.png' %}"> -->

            <div class="modal fade" id="edit_note" tabindex="-1" role="dialog" aria-labelledby="edit_noteLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edit_noteLabel">Edit a note!</h5>
                    <img data-dismiss="modal" class = "icon close" src = "{% static 'icons/cancel.png' %}" width=20px>
                    </button>
                </div>
                <div class="modal-body">
                        <form method = "POST" action="{% url 'edit_note' object.pk%}">
                                
                                <div class="modal-footer">
                            <button type = "button" class = "btn btn-danger" onclick="window.location.href='/delete-note/{{object.id}}/'">Delete</button>
                            <button type="submit" class="btn btn-primary">Confirm edit</button>
                        </div>
                        </form>
                </div>
                </div>
            </div>
            </div>
        {% endif%}
    </div>
</div>
</body>
</html>