<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flexr | Notes</title>
    {% load static %}
    <style>
        #plus-icon:hover{
            cursor: pointer;
        }
    </style>
</head>
<body>
    {% include "flexr_web/navbar.html" %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">


    <div class = "body">
        <div class = "main">
            <hr>
                <h3>Notes:</h3>
                <hr>
                <div class="modal-body">
                    <form method="POST" action="/search_notes/">
                         {% csrf_token %}
                         {% for field in fform %}
                         <p>
                             {{ field.label_tag }}<br>
                             {{ field }}
                        </p>

                        {% endfor %}

                      <div class="modal-footer">
                          <button type="submit" class="btn btn-primary">Search</button>
                      </div>
                  </form>
                </div>
            <p style="display: inline;">Create Note</p><img style="display:inline;" id="plus-icon" width = 20px data-toggle="modal" data-target="#add_note" src="{% static 'icons/plus.png' %}">

            <div class = "card-body row">
                
                {%for note in Notes%}

                    <div id = "note" class = "note card col-lg-3 "  >
                        <span style="text-align: left;">
                            {%if not note.lock%}
                                <img style= "display: inline;"  class="close" onclick=" var conf = confirm('Do you want to delete this note?'); if(conf){ window.location.href = 'delete-note/{{note.id}}'}" src="{% static 'icons/cancel.png' %}" width= 15px>
                            {%else%}
                                <img style= "display: inline;"  class="close" onclick=" var conf = confirm('You must unlock this note to delete it.'); if(conf){ window.location.href = 'opennote/{{note.id}}'}" src="{% static 'icons/cancel.png' %}" width= 15px>
                            {%endif%}
                        </span>
                       <script>
                            $(document).ready(function(){
                                $('.close').hover(function() {
                                $(this).attr('src', "{% static 'icons/cancel-circle.png' %}");
                                }, function() {
                                $(this).attr('src', "{% static 'icons/cancel.png' %}");
                                });
                            });
                        </script>
                        <div class="card-body" onclick="window.location.href = '/opennote/{{note.id}}'" style="">

                            <p style="display: inline;">{{note}}</p>
                            {%if note.lock%}
                                <img style= "display: inline;" class="lock" src="{% static 'icons/lock.png' %}" width= 15px>
                            {%endif%}

                        </div>

                    </div>
                {%endfor%}
            </div>

            <div class="modal fade" id="add_note" tabindex="-1" role="dialog" aria-labelledby="add_noteLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add_noteLabel">Add a note!</h5>
                    <img type="button" data-dismiss="modal" src = "{% static 'icons/cancel.png' %}" width=20px>
                    </button>
                </div>
                <div class="modal-body">
                        <form method = "POST" action="{% url 'create_note' %}">
                                {% csrf_token %}
                                {% for field in form %}
                                <p>
                                    {{ field.label_tag }}<br>
                                    {{ field }}
                                    {% if field.help_text %}
                                        <small style="color: grey">{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </p>
                                {% endfor %}
                                <div class="modal-footer">
                            
                            <button type="submit" class="btn btn-primary">Create note</button>
                        </div>
                        </form>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>
