<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flexr | Notes</title>
</head>
<body>
    {% include "flexr_web/navbar.html" %}
    <h1>{{user.first_name}}&nbsp{{user.last_name}}</h1>
    <h1>{{user.email}}</h1>
    <h2>{{Accounts.0}}</h2>

    <hr>
    <h3>Notes:</h3>
    {%for note in Notes%}
        <p>title: <a href="{% url 'note-detail' note.pk%}"> 
        {{note.title}}</a>
        <p>Created Date: {{note.created_date}}</p>
        <!-- <p>Content: {{note.content}}</p> -->
        <br>
    {%endfor%}
    <a href="/create_note">create_note</a>
    <hr>

</body>
</html>