<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flexr | Open Tabs</title>
    <style>
        .fa-window-close:hover{
            cursor: pointer;
            color: grey;
        }
    </style>

</head>
<body>
    {% include "flexr_web/navbar.html" %}
    <h1>{{user.first_name}}&nbsp{{user.last_name}}</h1>
    <h1>{{user.email}}</h1>
    <h2>{{Accounts.0}}</h2>

    <hr>
    <h3>Open Tabs:</h3>

    <div class = "row">
        {%for tab in Tabs%}
                <div class = "card col-lg-3">
                    <i class="far fa-window-close" onclick=" var conf = confirm('Do you want to close this tab?'); if(conf){ window.location.href = 'close_tab/{{tab.id}}'}" style="display: inline;"></i>
                    <p><a href="{{tab.site.url}}">{{tab.site.url}}</a></p>
                    <p>Created Date: {{tab.created_date}}</p>
                    <p>Last Visited: {{tab.last_visited}}</p>
                    <button onclick="window.location.href = '/add_bookmark/{{tab.id}}/'">Bookmark</button>
                </div>

        {%endfor%}
    </div>

    <hr>

</body>
</html>