
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flexr | Profile</title>
</head>
<body>

    <h1>{{user.first_name}}&nbsp{{user.last_name}}</h1>
    <h1>{{user.email}}</h1>
    <h2>{{Accounts.0}}</h2>
    <hr>
    <h3>Devices:</h3>
    {%for dev in Devices%}
        <p>dev</p>
    {%endfor%}
    <hr>
    <h3>Preferences:</h3>
    <p>Homepage: {{Preferences.home_page}}</p>
    <p>Sync enabled: {{Preferences.sync_enabled}}</p>
    <p>Searchable profile: {{Preferences.searchable_profile}}</p>
    <p>Cookies enabled: {{Preferences.sync_enabled}}</p>
    <p>Popups enabled: {{Preferences.popups_enabled}}</p>
    <p>Darkmode enabled: {{Preferences.is_dark_mode}}</p>

</body>
</html>