<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flexr | Shared Folders</title>
    {% load static %}
    <style>
        #plus-icon:hover{
            cursor: pointer;
        }
        .folder:hover{
            cursor: pointer;
        }
        #add_folder_icon:hover{
            cursor: pointer;

        }
        #add_folder_icon{
            cursor: pointer;
            display: inline;
        }
    </style>
</head>
<body>
    {% include "flexr_web/navbar.html" %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <div class="body">
        <div class = "main">
            <h1 style="display: inline;">Shared Folders </h1><img style = "padding-bottom: 1%;" width = 20px id = "add_folder_icon" src="{% static 'icons/add_folder.png'%}" class = "icon" data-toggle="modal" data-target="#folder">
            <div class = "row">
                {% for folder in Folders %}
                    <div  id = "bmf" class = "folder card col-md-3" style="height: 10% !important;">
                        <form  method="post" action = "/shared_folder/{{folder.id}}/remove_collaborator/" id = "remove_collab_form{{folder.id}}">
                            {% csrf_token %}
                            <span>
                                <input hidden name = "search_id" value = "{{curr_acc.account_id}}"></input>
                                <input hidden name = "search_username" value = "{{curr_acc.username}}"></input>
                                
                                <span style="position: absolute; top:0; left:0; margin-left: 3%;">
                                    <img  src="{% static 'icons/cancel.png'%}"  width = 15px style="display: inline;" class = "close icon" onclick="var conf = confirm('Would you like to remove yourself from {{folder}} shared folder?'); if(conf){ document.getElementById('remove_collab_form{{folder.id}}').submit()}">
                                </span>
                                <div onclick="window.location.href = '/shared_folder/{{folder.id}}/'">
                                    <h2>{{folder.title}}</h2>
                                    <p>{{folder.description}}</p>
                                </div>
                            </span>
                        </form>
                        {% for collaborator in folder.collaborators.all %}
                            <p>{{collaborator}}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
</body>
</html>